@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow-x: hidden;
}

.toast {
  background-color: white;
  border-radius: 12px;
  padding: 20px 35px 20px 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 25px;
  right: 30px;
  border-left: 6px solid #4070f4;
  overflow: hidden;
  transform: translateX( calc(100% + 30px));
  transition: all 0.5s cubic-bezier(.68, -0.55, .265,1.35);
}
.toast.active {
    transform: translateX(0%);
}

.toast .toast-content {
  display: flex;
  align-items: center;
}

.toast-content .check {
  height: 35px;
  width: 35px;
  color: white;
  background-color: #4070f4;
  font-size: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
}
.toast-content .message {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.message .text {
  font-size: 20px;
  font-weight: 400;
  color: #666;
}
.message .text.text-1 {
  font-weight: 600;
  color: #333;
}
.toast .close {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.7;
}
.toast .close:hover {
  opacity: 1;
}

.toast .progres {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: #ddd;
}
.progres.active::before{
    animation: progress 5s linear forwards;
}

@keyframes progress {
    100%{
        right: 100%;
    }
}


.toast .progres:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #4070f4;
  height: 100%;
  width: 100%;
}

button {
  padding: 10px 20px;
  font-size: 20px;
  outline: none;
  border: none;
  background-color: #4070f4;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #0e4bf1;
}
